<footer class="page-footer font-small blue">
    <style>
        a{
            color:grey;
        }
    </style>
    <div class="footer-copyright text-center py-3">© Made By Devashish
      <a href="https://github.com/devashish2531" class="Github"> Github</a>
      <a href="https://www.linkedin.com/in/devashish2531/"> LinkedIn</a>
    </div>
  
  </footer>
